<div class="repo-wrapper">
	<div class="row">
		<h3 class="col-md-12">Repository Name: {{repo.name}}</h3>
	</div>
	<div class="row">
	  <h4 class="col-md-12">Issues: {{repo.open_issues_count}}</h4>
	</div>
	<div class="row">
	    <div class="col-md-12">
	      <a href="#/main"><span class="glyphicon glyphicon-chevron-left"></span>Back to search</a>
	    </div>
	    <div class="col-md-12">
	      <a href="#/user/{{repo.owner.login}}"><span class="glyphicon glyphicon-chevron-left"></span>Back to Repository: {{repo.owner.login}}</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<ul class="collaborators-list">
			    <li ng-repeat="user in repo.collaborators">
			      <img class="img-responsive img-thumbnail contributor-image" ng-src="{{user.avatar_url}}" title="{{user.login}}">
			      {{user.login}}
			    </li>
			</ul>
		</div>
	</div>
	<div class="row">
	    <div class="col-md-12">
	      <a href="#/main"><span class="glyphicon glyphicon-chevron-left"></span>Back to search</a>
	    </div>
	    <div class="col-md-12">
	      <a href="#/user/{{repo.owner.login}}"><span class="glyphicon glyphicon-chevron-left"></span>Back to Repository: {{repo.owner.login}}</a>
	    </div>
    </div>
</div>